* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000000;
	font-family: arial;
	color: #33ff00;
}

h1 {
	text-align: center;
	margin: 32px;
}

#main_input {
	/* display: table; */
	/* margin-left: 30%; */
	margin-bottom: 16px;
	padding: 8px;
}

#main_output p {
	margin-left: 30%;
	margin-right: 30%;
	text-align: left;
	padding: 12px;
	line-height: 1.6;
}


button, input {
	display: table;
	margin: 0 auto;
	padding: 6px;
}

button {
	display: none;
	justify-content: center;
	margin-bottom: 8px;
	padding: 12px 32px;
}